.home {
  background-image: url("../assets/Background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.players {
  width: 30rem;

  @media (max-width: 992px) {
    margin: auto;
  }

  @media (max-width: 576px) {
    width: 100%;
  }

  .search-box {
    margin-bottom: 3rem;
  }
}

.player-list {
  .player-card:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
