.details-is-open {
  height: 100vh;
  overflow-y: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $color-black-70;
    z-index: 1;
  }
}

.details-modal {
  & {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    padding: 2rem 0;
  }

  &__content {
    background-color: $color-white;
    width: 1140px;
    margin: 0 auto;
    position: relative;
    height: calc(100% - 7rem);
    position: fixed;
    bottom: 0;

    @media (max-width: 1250px) {
      width: 768px;
    }

    @media (max-width: 800px) {
      width: calc(100% - 2rem);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    max-height: 100%;
    overflow: hidden;
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;

    max-height: 100%;
    overflow-y: auto;
    padding: 3rem;

    @media (max-width: 576px) {
      padding: 1rem;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
    margin-bottom: 4rem;
    gap: 4rem;

    @media (max-width: 576px) {
      align-self: initial;
      justify-content: space-between;
      gap: initial;
      flex-wrap: wrap;
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    left: -6rem;
    left: -6rem;
    width: 26rem;
    max-height: 100%;
    object-fit: contain;
    z-index: 2;

    @media (max-width: 800px) {
      font-size: 3.25rem;
      left: -8rem;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__name {
    span {
      display: block;
    }
  }

  &__firstname {
    position: relative;
    font-family: $font-secondary;
    font-size: 5.5rem;
    font-weight: 600;
    color: $color-white;
    -webkit-text-stroke: 8px $color-primary;
    margin-bottom: -4.5rem;
    letter-spacing: 0.3rem;

    @media (max-width: 1250px) {
      font-size: 3rem;
      margin-bottom: -2.3rem;
    }

    @media (max-width: 800px) {
      font-size: 2rem;
      -webkit-text-stroke: 5px $color-primary;
      margin-bottom: -1.5rem;
      flex-shrink: 1;
    }

    &::after {
      content: attr(data-firstname);
      color: $color-white;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-text-stroke: 0px $color-primary;
    }
  }

  &__lastname {
    font-family: $font-secondary;
    font-size: 8rem;
    font-weight: 900;
    color: $color-primary;

    @media (max-width: 1250px) {
      font-size: 4.5rem;
    }

    @media (max-width: 800px) {
      font-size: 3.25rem;
    }
  }

  &__country {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    img {
      width: 10rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      margin-bottom: 0.5rem;

      @media (max-width: 1250px) {
        width: 8rem;
      }

      @media (max-width: 800px) {
        width: 5.5rem;
      }
    }
  }

  &__country-name {
    font-family: $font-secondary;
    font-size: 2.75rem;
    font-weight: 400;
    color: $color-black-30;
    text-transform: uppercase;
    letter-spacing: 1.25rem;
    margin-right: -1.25rem;

    @media (max-width: 1250px) {
      font-size: 2.25rem;
    }

    @media (max-width: 800px) {
      font-size: 1.25rem;
    }
  }

  &__body {
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
    gap: 6rem;

    @media (max-width: 1250px) {
      flex-direction: column;
      align-self: center;
      gap: 4rem;
    }

    @media (max-width: 8200px) {
      align-self: flex-end;
    }

    @media (max-width: 576px) {
      align-self: center;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;

    @media (max-width: 1250px) {
      column-gap: 2rem;
      row-gap: 2rem;
    }

    @media (max-width: 1250px) {
      column-gap: 0.5rem;
      row-gap: 1rem;
    }
  }

  &__title-year {
    margin-bottom: 0.75rem;
  }

  .close {
    margin-bottom: 2rem;
  }

  .subtitle {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .text {
    font-size: 0.875rem;
  }
}

.close {
  position: relative;
  width: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &__line {
    content: "";
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color: white;
    display: inline-block;
    transform: rotate(-135deg);

    &:first-child {
      transform: rotate(135deg);
    }
  }
}
