// Colors
$color-primary: #f2753b;
$color-primary-light: #ebad65;
$color-black-30: rgba(#000, 0.3);
$color-black-70: rgba(#000, 0.7);
$color-white: #fff;

// Fonts
$font-primary: "Mulish", sans-serif;
$font-secondary: "Montserrat", sans-serif;
