// Colors
:root {
  --color-orange: #f2753b;
  --color-orange-light: #ebad65;
  --color-black-30: #0000004d;
  --color-white: #ffffff;
}

// Fonts
$font-primary: "Mulish", sans-serif;
$font-secondary: "Montserrat", sans-serif;
